html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: #0D0212;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: 'AR One Sans', sans-serif;
    color: gold;
    font-size: 40px;
    padding-top: 15px;
}

#container {
    display: flex;
    margin-top: 55px;
}

#sketch-box {
    height: 464px;
    width: 464px;
    margin-left: auto;
    margin-right: 80px;
    border: aliceblue 2px solid;
    display: flex;
    flex-wrap: wrap;
}

.boxes {
    background-color: rgb(88, 81, 81);
    flex-grow: 1;
    border: purple 0.1px solid;
}

.boxes8 {
    width: 56px;
    height: 56px;
}

.boxes16 {
    width: 27px;
    height: 27px;
}

.boxes32 {
    width: 12.5px;
    height: 12.5px;
}

.no-grid-8 {
    border: none;
    height : 58px;
}

.no-grid-16 {
    border: none;
    height : 29px;
}

.no-grid-32 {
    border: none;
    height : 16.59px;
}