html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: #0D0212;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: 'AR One Sans', sans-serif;
    color: gold;
    font-size: 40px;
    padding-top: 15px;
}

#container {
    display: flex;
    margin-top: 55px;
    justify-content: center;
    gap: 110px;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: #1B0425;
    padding: 20px;
    padding-top: 70px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 8px #270637;
}

#sketch-box {
    height: 464px;
    width: 464px;
    border: gold 2px solid;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    box-shadow: 0px 0px 19px 8px #1A0425;
}

.boxes {
    background-color: #CDC7E5;
    flex-grow: 1;
    border: #6C1093 0.1px solid;
}

.boxes8 {
    width: 56px;
    height: 56px;
}

.boxes16 {
    width: 27px;
    height: 27px;
}

.boxes32 {
    width: 12.5px;
    height: 12.5px;
}

.no-grid-8 {
    border: none;
    height : 58px;
}

.no-grid-16 {
    border: none;
    height : 29px;
}

.no-grid-32 {
    border: none;
    height : 16.59px;
}

button { 
    color: gold;
    background-color: #BB2FEE;    
    border: 2px solid #7912A5;    
    font-family: 'AR One Sans';    
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: inset 0px 0px 5px 6px #AB12E2;
}

.selected {
    background-color: #270637;
    box-shadow: 0px 0px 7px 1px #AB12E2;
}

#box-size {
    display: flex;
    gap: 15px;
}

#box-size button {
    flex-shrink: 0;
    width: 90px;
}

#reset-erase {
    display: flex;
    gap: 15px;
}

#reset-erase button {
    flex-shrink: 0;
    flex-grow: 1;
}

#color-selector {
    background: none;
    cursor: pointer;
    height: 65px;
    width: 65px;
    border-radius: 8px;
    border-color: purple;
    background-color: gold;
    margin-left: auto;
}

.select {
    border-radius: 8px;
    box-shadow: 0px 0px 7px 1px #AB12E2;
}

select{
    color: gold;
    text-align: center;
    background-color: #270637;
    border: none;
    height: 25px;
    border-radius: 8px;
    font-family: monospace;
    width: 100%;
}

#color-choice {
    display: flex;
    gap: 20px;
    color: gold;
    align-items: center;
}

#color-choice p {
    font-size: 20px;
    font-family: monospace;
}

h2 {
    font-family: "Merienda", cursive;
    color: gold;
    text-align: end;
    padding-right: 15px;
    font-size: 18px;
    margin-top: 30px;
}

a {
    text-decoration: none;
}