html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #0D0212;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: 'AR One Sans';/*, sans-serif;*/
    color: gold;
    font-size: 40px;
    padding-top: 15px;
}